*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.page-container{
    height:100vh;
    width:100vw;
    background-color: #1B2430;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.table-div{
    width: 95vw;
}